<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH9hggL6KsnhfdRCoTJobMb4UwEprLzW0</string>
	<key>GCM_SENDER_ID</key>
	<string>966703401686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artPlatform</string>
	<key>PROJECT_ID</key>
	<string>art-platform-a2f95</string>
	<key>STORAGE_BUCKET</key>
	<string>art-platform-a2f95.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966703401686:ios:c1915fa7a04d748fb5d777</string>
</dict>
</plist>